<html lang="en" id = 'html'>
  <head>
    <script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="/style.css">

    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Document</title>
  </head>
  <body >
    <nav class="teal" role="navigation" id='nav-border'>
      <div class="nav-wrapper container">
        <a id="logo-container" href="#" class="brand-logo">LearnChat</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="/users/login">Login Page</a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
          <li><a href="#">Navbar Link</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      </div>
    </nav>
    <h2 id= 'title'>Create Account</h2>
  <div style = 'width: 500px; height: 400px; margin-left: auto; margin-right: auto; margin-top:80px;'>
    <form action="/users/signup" method="post">
      <input type="text" placeholder="Username" name="username"/>
      <input type="text" placeholder="Email" name="email"/>
      <input type="password" placeholder="Password" name="password"/>
      <button type="submit" name="button" class ="waves-effect waves-light btn">Submit</button>
      <!-- <input type="submit"  /> -->
    </form>
  </div>
  <footer id = 'footer' class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Welcome!</h5>
          <p class="grey-text text-lighten-4">
            Have you ever wanted to be a teacher? Or just looking for advice?
            Share your experiences and knowledge with this networking platform. It's easy to connect if you have skills to share sign up, create a session, and begin!
          </p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text"></h5>
          <!-- <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul> -->
        </div>
        <div class="col l3 s12">
          <h5 class="white-text"></h5>
          <!-- <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul> -->
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Mikey Liu</a>
      </div>
    </div>
  </footer>

  </body>
</html>
