<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>THIS IS THE CREATE ACCOUNT PAGE</h1>
  <a href="http://localhost:3000/login">Login Page</a>
  <form action="signup" method="post">
    <input type="text" placeholder = "Username" name = "username">
    <input type="text" placeholder = "Email" name = "email">
    <input type="text" placeholder="Password" name = "password">
    <input type="submit">
  </form>

</body>
</html>
