<!DOCTYPE html>
<html>
  <head>
    <title>Real time web chat</title>
    <script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
    <script src="//developer.appear.in/scripts/appearin-sdk.0.0.4.min.js"></script>
    <script src="/chat.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="style.css">
    <meta charset="utf-8">
    <meta content="stuff, to, help, search, engines, not" name="keywords">
    <meta content="What this page is about." name="description">
    <meta content="Display Webcam Stream" name="title">
    </head>
      <body style ='background-color: cornsilk;'>
        <nav>
          <div class="nav-wrapper" style = 'background-color: teal;'>
            <a href="/main" class="brand-logo" style = 'margin-left: 40px;'>Main</a>
            <a href="/main" class="brand-logo" style = 'margin-left: 575px;'><%=name%> : <%=title%>  </a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li><a href="http://localhost:3000/createevent">Create Event</a></li>
              <li><a href="http://localhost:3000/filtered">Today's Events</a></li>
              <li>
                <form action="/users/logout" method="post">
                  <input type="submit" name="" value="logout"  style = 'width: 150px; height: 50px; margin-bottom: 10px; border: none; background-color:teal;font-size: 20px;'>
                </form></li>
            </ul>
          </div>
        </nav>
        <h1></h1>
        <div class = 'row'>
          <div class = 'col s6'>
          <div name = "video-room" id = "video-box" style = 'margin-left: 50px;'>
            <iframe src="https://appear.in/mikey084/<%=id%>" width="800" height="620"  frameborder="0" style = 'margin-top: 25px;border-radius:20px;'>
            </iframe>
          </div>
          </div>
          <div  id = "chatbox-container" class = 'col s6' style = "margin-top: 100px;">
            <div name = "chatbox" id ='chatbox' >
            <div id="content" style="width: 500px; height: 400px; margin: 0 0 20px 0; border: 3px solid #cccccc; overflow-y: scroll;border-radius: 25px; font-size: 20px; padding: 20px;border:1px solid;border-color:teal; position:relative; ">
            </div>
            </div>
            <div class="controls" >Name:
              <input id="name" style="width:250px;" type="text" name="username">Messages:
              <input id="field" style="width:250px;" type="text" name="message">
              <input id="send" type="button" value="send" class ="waves-effect waves-light btn" style= "margin-bottom:25px;">
            </div>
          </div>
        </div>
    </body>
  <footer class="page-footer teal" style = 'margin-top: 99px'>
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text"></h5>
          <p class="grey-text text-lighten-4"></p>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text"></h5>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text"></h5>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Mikey Liu</a>
      </div>
    </div>
  </footer>
</html>
