doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Document
  body
    h1 This is the Login PAGE
    a(href='http://localhost:3000/createaccount') Create Account
    form(action='main', method='post')
      input(type='text', placeholder='username', name='username')
      input(type='text', placeholder='email', name='email')
      input(type='text', placeholder='password', name='password')
      input(type='submit')
