doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
  body
    h1 THIS IS THE MAIN PAGE
    form(action='/logout', method='post')
      input(type='submit', name='', value='logout')
      |  Logout Here
    a(href='http://localhost:3000/createevent') Create Event
    div
      div
        h1 hello


    -for (var i = 0; i < data.length; i++){
    -for (key in data[i]){
    p= data[i][key]
      -}
    -}
