footer {
  position: fixed;
  width: 100%;
}


#content {
  width: 500px;
  height: 300px;
  margin: 0 0 20px 0;
  border: solid 1px #999;
  overflow-y: scroll;
  border-radius: 30px;
  padding: 20px;
}

#image-container {
  height: 150px;
  background-color: white;
}
#style-block{
  background-color: cornsilk;
}
#footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
}
#dropdowndiv {
  background-color: cornsilk;
}
#main-color {
  height: 100%;
  width: 100%;
}
#title {
  text-align: center;
  color: gainsboro;
}
#body {
  background-color: cornsilk;
}
#join-event-background {
  background-color: cornsilk;
}
