<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>This is the Login PAGE</h1>
  <a href="http://localhost:3000/createaccount">Create Account</a>
  <form action="main" method ="post">
    <input type="text" placeholder ="username" name = "username">
    <input type="text" placeholder ="email" name = "email">
    <input type="text" placeholder ="password" name = "password">
    <input type="submit">
  </form>
</body>
</html>


-for (var i = 0; i < data.length; i++){
-for (key in data[i]){
p= data[i][key]
  -}
-}
